body{
    background-image: url(https://bit.ly/2HtYxyi);
    background-size: cover;
}
input{
    color:black;
    text-align: center;
    font-size: x-large;
}
label{
    color:yellow;
    text-align: center;
    font-size: x-large;
}
h1,h2{
    text-align: center;
    color:white;
}
.jumbotron{
    color: yellow;
    background-color: plum;
    font-size: x-large;
}
.ku{
    color:yellow;
    font-size: x-large;
    width: 200px;
    height: 200px;
    
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 24px;
    resize: vertical;
    margin-left: 125%;
    margin-right:125%;
    width: 350%;
  }
input[type=radio] {
    resize: vertical;
    margin-left: 125%;
    margin-right:125%;
    width: 350%;         
}
  label {
    padding: 12px 12px 12px 0;
    display: float;
    float: right;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding:12px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }